.list {
  display: inline-block;
}

.itemBtn {
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  background-color: white;
  font-size: 25px;
}

.listContainer {
  margin-top: 20px;
}

.itemDoneStyle {
  background-color: rgb(88, 234, 88);
  border-radius: 20px;
  padding: 5px;
  border-bottom: 2px solid black;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 39vw;
  align-items: center;
}

.listItems {
  border-radius: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid gainsboro;
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 39vw;
  align-items: center;
}